# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Mar 31 2019 12:09:07

# Family & Device:    iCE5LP4K

# Package:            SG48

# ##############################################################################

###IOSet List

set_io LEDR 41
set_io LEDG 40
set_io LEDB 39
set_io MOSI 17
set_io CS 16
set_io SCK 15
set_io MISO 14
set_io IMU_MISO28 36 -pullup yes
set_io IMU_MISO24 37 -pullup yes
set_io IMU_MISO19 38 -pullup yes
set_io IMU_MISO31 28 -pullup yes
set_io IMU_MISO32 26 -pullup yes
set_io IMU_MISO23 42 -pullup yes
set_io IMU_MISO29 35 -pullup yes
set_io IMU_MISO27 27 -pullup yes
set_io IMU_MISO4 25 -pullup yes
set_io IMU_MISO5 23 -pullup yes
set_io IMU_MISO18 43 -pullup yes
set_io IMU_MISO26 31 -pullup yes
set_io IMU_MISO25 34 -pullup yes
set_io IMU_MISO30 32 -pullup yes
set_io IMU_MISO13 10 -pullup yes
set_io IMU_MISO1 21 -pullup yes
set_io IMU_MISO12 11 -pullup yes
set_io IMU_MISO7 18 -pullup yes
set_io IMU_MISO2 19 -pullup yes
set_io IMU_MISO8 12 -pullup yes
set_io IMU_MISO3 13 -pullup yes
set_io IMU_MISO14 6 -pullup yes
set_io IMU_MISO9 9 -pullup yes
set_io IMU_MISO6 20 -pullup yes
set_io IMU_MISO11 2 -pullup yes
set_io IMU_MISO21 46 -pullup yes
set_io IMU_MISO22 44 -pullup yes
set_io IMU_MISO16 48 -pullup yes
set_io IMU_MISO20 47 -pullup yes
set_io IMU_MISO17 45 -pullup yes
set_io IMU_MISO15 3 -pullup yes
set_io IMU_MISO10 4 -pullup yes
